{% extends "layout.html" %}
{% block body %}
<div class="w_cloud">
  <div id="worldcloud"></div>
</div>
<div class="headlines">
    <div class="titles">
        <div class="accord1">
            <ul>
            </ul>
        </div>
    </div>
</div>
<div class="graph"></div>
<div id="dmap"></div>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/datamaps/0.5.7/datamaps.all.min.js"></script>

<script>

var fills = {
  someOtherFill: '#973550',
  defaultFill: '#4b82db'
};

var map = new Datamap({
    element: document.getElementById('dmap'),
    scope: 'world',
    fills: fills,
    geographyConfig: {
        highlightOnHover: true,
        highlightFillColor: '#973550'
    },
    data: {
        IL: {
            fillKey: 'someOtherFill'
        }
    },
    done: function(datamap) {
        datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
            
            var state_id = geography.id;
            var fillkey_obj = datamap.options.data[state_id] || {fillKey: 'defaultFill'};
            var fillkey = fillkey_obj.fillKey;;
            var fillkeys = Object.keys(fills);
            var antikey = fillkeys[Math.abs(fillkeys.indexOf(fillkey) - 1)];
            var new_fills = {
              [geography.id] : {
                fillKey: antikey
              }
            };
            datamap.updateChoropleth(new_fills);
            console.log(geography.properties.name + '--State id-------===')
        });
    }
});


</script>


<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<script src="http://d3js.org/d3.v5.min.js"></script>

<script>
    var width = $(".graph").width()   //comma!!!!
    var height = $(".graph").height();



    var nodes = {{ nodes|safe }}; //it works this way 
    var links = {{ links|safe }};
    var articles = {{ articles|safe }};
    var concepts = {{ concepts|safe }};



    myWords = [].concat(...concepts);



    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 10, bottom: 10, left: 10},
        c_width =$(".w_cloud").width(),
        c_height = $(".w_cloud").height(); ;
    
    // append the svg object to the body of the page
    var svg = d3.select("#worldcloud").append("svg")
        .attr("width", c_width )
        .attr("height", c_height )
      .append("g")
        .attr("transform",
              "translate(" + margin.right + "," + margin.bottom + ")");
    
    // Constructs a new cloud layout instance. It run an algorythm to find the position of words that suits your requirements
    var layout = d3.layout.cloud()
      .size([width, height])
      .words(myWords.map(function(d) { return {text: d}; }))
      .padding(5)
      .rotate(0)
      .fontSize(14)
      .on("end", draw)
      ;
    layout.start();
   
    // This function takes the output of 'layout' above and draw the words
    // Better not to touch it. To change parameters, play with the 'layout' variable above
    function draw(words) {
      svg
        .append("g")
          .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
          .selectAll("text")
            .data(words)
          .enter().append("text")
            .style("font-size",14)
            .style("fill", "#4b82db")
            .style("font-family", "Impact")
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; })
            .on("click", function(d){
              clickOnWord(d);
            } )
            .style("cursor","pointer");
    }

    function clickOnWord(d){
      var check = d.text;
      
      for(i in articles){
        if(concepts[i].includes(check)){
        console.log( articles[i] + '--->' + check);
        selectNode(nodes[i]);
        }
      }
    }


    function linkedCompany(n){
     //   console.log(nodes[links[k]['target']]['label']);
     //   console.log(nodes[links[k]['source']]['label']);
     var companies = ''; 
      for(var k in links){
        if(links[k]['target'] == n){
          if(nodes[links[k]['source']]['type'] == 'Company'){
            companies = companies + ',' + nodes[links[k]['source']]['label'];
          }
        }
      }
      return companies;
    }

    function linkedOrganization(n){
     //   console.log(nodes[links[k]['target']]['label']);
     //   console.log(nodes[links[k]['source']]['label']);
     var companies = ''; 
      for(var k in links){
        if(links[k]['target'] == n){
          if(nodes[links[k]['source']]['type'] == 'Organization'){
            companies = companies + ',' + nodes[links[k]['source']]['label'];
          }
        }
      }
      return companies;
    }

    function linkedPerson(n){
     //   console.log(nodes[links[k]['target']]['label']);
     //   console.log(nodes[links[k]['source']]['label']);
     var companies = ''; 
      for(var k in links){
        if(links[k]['target'] == n){
          if(nodes[links[k]['source']]['type'] == 'Person'){
            companies = companies + ',' + nodes[links[k]['source']]['label'];
          }
        }
      }
      return companies;
    }

    function linkedLocation(n){
     //   console.log(nodes[links[k]['target']]['label']);
     //   console.log(nodes[links[k]['source']]['label']);
     var companies = ''; 
      for(var k in links){
        if(links[k]['target'] == n){
          if(nodes[links[k]['source']]['type'] == 'Location'){
            companies = companies + ',' + nodes[links[k]['source']]['label'];
          }
        }
      }
      return companies;
    }

    function linkedTopic(n){
     //   console.log(nodes[links[k]['target']]['label']);
     //   console.log(nodes[links[k]['source']]['label']);
     if(concepts[n] instanceof Array){
      companies =  concepts[n].join(", ");
      // console.log(companies);
      return companies;
      }
    }

    // console.log(companies);
    function loadHeadlines() {
            for(var i in articles){
                $(".accord1 ul").append('<li><h5>'+ articles[i] + '</h5><div class="accord-content"><h6>' 
                  + nodes[i]['summary'] + '</h6><a href='+ nodes[i]['source'] + ''+'>Full Article</a>'
                  + '<h6>"companies linked:"' + linkedCompany(i) + '</h6>' + '<h6>"organizations linked:"' + linkedOrganization(i) + '</h6>'
                  + '<h6>"people linked:"' + linkedPerson(i) + '</h6>' 
                  + '<h6>"locations linked:"' + linkedLocation(i) + '</h6>'
                  + '<h6>"topics linked:" ' + linkedTopic(i) + '</h6>' + '</div></li>');
            }
        }
    loadHeadlines();


    $(".accord-content").hide();  
    $('.accord1 li h5').click(function () {
            $(this).next(".accord-content").slideToggle();
            $(this).closest("li").siblings().find('.accord-content').slideUp();
            
        });



      var svg = d3.select(".graph").append("svg")
      .attr("width", width)
      .attr("height", height);


      var linkForce = d3
      .forceLink()
      .id(function (link) { return link.id })
      .strength(function (link) { return 0.125});


      const forceX = d3.forceX(width / 2).strength(0.05);
      const forceY = d3.forceY(height / 2).strength(0.06);


      var simulation = d3
      .forceSimulation()
      .force('link', linkForce)
      .force('charge', d3.forceManyBody().strength(-40))
      .force('center', d3.forceCenter(width / 2, height / 2))
      .force('x', forceX)
      .force('y', forceY);


      var dragDrop = d3.drag().on('start', function (node) {
      node.fx = node.x
      node.fy = node.y
      }).on('drag', function (node) {
      simulation.alphaTarget(0.7).restart()
      node.fx = d3.event.x
      node.fy = d3.event.y
      }).on('end', function (node) {
      if (!d3.event.active) {
      simulation.alphaTarget(0)
      }
      node.fx = null
      node.fy = null
      })

      function getNeighbors(node) {
      return links.reduce(function (neighbors, link) {
      if (link.target.id === node.id) {
      neighbors.push(link.source.id)
      } else if (link.source.id === node.id) {
      neighbors.push(link.target.id)
      }
      return neighbors
      },
      [node.id]
      )
      }

      function getNodeColor(node, neighbors) {
      if (Array.isArray(neighbors) && neighbors.indexOf(node.id) > -1) {
      return node.level === 1 ? 'black': 'green'
      }

      return node.level === 1 ? 'red' : 'gray'
      }

      function isNeighborLink(node, link) {
      return link.target.id === node.id || link.source.id === node.id
      }

      function selectNode(selectedNode) {
      var neighbors = getNeighbors(selectedNode)

      // we modify the styles to highlight selected nodes
      nodeElements.attr('fill', function (node) { return getNodeColor(node, neighbors) })
      textElements.attr('fill', function (node) { return getTextColor(node, neighbors) })
      linkElements.attr('stroke', function (link) { return getLinkColor(selectedNode, link) })
      }

      function getLinkColor(node, link) {
      return isNeighborLink(node, link) ? 'green' : '#d8d9de'
      }

      function getTextColor(node, neighbors) {
      return Array.isArray(neighbors) && neighbors.indexOf(node.id) > -1 ? 'white' : 'black'
      }

      var nodeElements = svg.append("g")
      .attr("class", "nodes")
      .selectAll("circle")
      .data(nodes)
      .enter().append("circle")
      .attr("r", 8)
      .attr("fill", getNodeColor)
      .call(dragDrop)
      .on('click',function(d){
      selectNode(d);
      console.log(d.id);
      })
      .style("opacity", 1)
      .style('stroke' , 'white');

      var linkElements = svg.append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(links)
      .enter().append("line")
      .attr("stroke-width", 0.6)
      .style("opacity", 0.4)
      .attr("stroke", "#d8d9de");

      var textElements = svg.append("g")
      .attr("class", "texts")
      .selectAll("text")
      .data(nodes)
      .enter().append("text")
      .text(function (node) {
      return node.label
      })
      .on('click',function(d){
      selectNode(d);
      console.log(d.id);
      })
      .attr("font-size", 11.5)
      .attr("font-family", "courier")
      .attr("dx", 15)
      .attr("dy", 4);



      simulation.nodes(nodes).on('tick', () => {
      nodeElements
      .attr('cx', function (node) { return node.x })
      .attr('cy', function (node) { return node.y })
      textElements
      .attr('x', function (node) { return node.x })
      .attr('y', function (node) { return node.y })
      linkElements
      .attr('x1', function (link) { return link.source.x })
      .attr('y1', function (link) { return link.source.y })
      .attr('x2', function (link) { return link.target.x })
      .attr('y2', function (link) { return link.target.y })
      });

      simulation.force("link").links(links);
      </script>

      {% endblock %}