body            { font-family: sans-serif; background: #eee; }
a               { color: #fff; }
a:link          {text-decoration: none;}
a:hover         {text-decoration: underline;}
a:active        {text-decoration: none;}
a:visited       {color:grey;}
h1, h2          { font-family: 'Times', serif; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 0.2em;}
td              { width: 33.33%; }
table           { padding-top: 0.8em; }
hr              { border: 0; height: 0; border-top: 0.1px solid rgba(0,0,0,0.1); border-bottom: 0.1px solid rgba(255,255,255,0.3);}

.page           { height:90vh; margin: 0.5em; background: white;
                     box-shadow: 10px 10px 5px #888888;}
.entries        { margin: 0; padding: 0;  }
.add-entry      { font-size: 0.9em; font-weight: bold; padding: 0.8em;}

.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; margin-bottom: 1em;}
.error          { background: #f0d6d6; padding: 0.5em; }
.node           { font-family: Lato;}

.link           { stroke: #999; stroke-width: .5px;}
#loading        { display: none;}
#chart          { margin: auto; display: none; }
.graph          { width: 50%; height: 100%; background: #273452;
                   float:left;}
.headlines      { width: 25%;  height: 100%; float: left;
                   overflow-y: auto;
                  }
.w_cloud        {width: 22.3%; height:50%; float:right; border: solid;
                background: #273452;
                }
#worldcloud     {width:50%}
.titles         {}

.accord1 li {
            list-style: none;
        }
.accord1 ul {
            margin:0;
            padding:0.2em;
        }
        .accord1 li h5 {
            padding: 5px 0;
            background: #ccc;
            text-align: center;
            cursor: pointer;
            font-size: .8em;
        }
        .accord1 li a {
            padding: 5px 0;
            text-align: right;
            cursor: pointer;
            font-size: .8em;
        }
        .accord1 li h6 {
            padding: 5px 0;
            text-align: left;
            font-size: 1em;

        }

        .accord-content {
            background-color: #323232;
            color: #fff;
            font-size: 9px;
            font-family: arial;
            display: none;
            padding: 10px;
        }
.accord1 li h5:hover  {
  background-color: #235479;
  border-radius: 2px;
}